.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}
.attached {
    flex-grow: 0;
    background-color: #F6F6F6;
}

.header {
    padding: 16px;

    color: white;
    font-size: 24px;
    background-color: #085e55;
}

.body {
    flex-grow: 1;
    overflow: auto;
}
