.wrapper{
    position: relative;
}
.my {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.incoming {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.my .box {
    background-color: #DCF7C5;
}

.incoming .box {
    background-color: #FCFBFB;

}

.sender {
    font-weight: 500;
    display: flex;
    flex-direction: start;
    justify-content: space-between;
}
.contact {
    flex-grow: 0;
    overflow: hidden;
    color: #d6dadc;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 4%;
}
.sticker {
    width: 70%;
}
.album {
    width: 100%;
}
.voice {
    width: 80%;
}
.image {
    width: 100%;
}
.img {
    width: 100%;
}