.message{
    width: 100%;
    padding: 1.47%;
    display: flex;
    box-sizing: border-box;
}
.date{
    justify-content: center;
    opacity: 0.4;
    color: black;
}
.myMessage{
    justify-content: flex-end;
}
.myMessage .container{
    background: #CCE4FF;
}
.container{
    line-height: 1.2;
    max-width: 70%;
    background: #EBEDF0;
}
.text{
    margin-inline-end: 1.47%;
    color: black;
    word-break: break-word;
    line-height: 1;
}
.text a{
    color: #2a5885;
}
.time{
    float: right;
    opacity: 0.4;
    color: black;
}
.clear{
    clear: both;
}
.youtubeWrapper{
    position: relative;
    width:100%;
    padding-top: 56%;

}
.youtube{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
.sticker{
    max-width: 60%;
}