.title{
    color: #525252;
}
.date{
    color: #808080;
}
.description{
    color: #808080;
    opacity: 0.8;
}
.divider{
    border-bottom: 1px solid #C2C2C2;
}
.container{
    position: relative;
}
.highlight{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    transform: translate(-50%, -50%);
    padding-top: 10%;
    border-radius: 50%;
}