.vk_chatItem_title{
    font-size: 45px;
    font-weight: bold;
    color: black;
}
.vk_chatItem_message{
    font-size: 40px;
    color: #96999E;
    display: flex;
    width:100%;
    
}
.vk_chatItem_messageFrom{
    color: #99A2AD;
}
.vk_chatItem_messageText{
    overflow: hidden;
    white-space: nowrap;
    color: #6D7885;
    text-overflow: ellipsis;
}
.vk_chatItem_messageTime{
    color: #99A2AD;
    
    white-space: nowrap;
}
.vk_chatItem_avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}