.galery{
    height: 100%;
    
    display: flex;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: scroll; /* has to be scroll, not auto */
  /* -webkit-overflow-scrolling: touch; */
}
.galery::-webkit-scrollbar {
    display: none;
}
.photo{
    height: 100%;
    margin-right: 24px;
}
.spacer{
    min-width: 50px;
}