.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-color: #d7d0ca;
}
.attached {
    flex-grow: 0;
}

.body {
    flex-grow: 1;
    overflow: auto;
}
.name {
    color: black;
    font-weight: 500;
    font-size: 48px;
}
.avatar {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}
.image {
    height: 100%;
    border-radius: 50%;
    border: 1px solid #F6F6F6;
}