.header {
    width: 100%;  
}
.profileData {
    width: 100%;
}
.content {
    
    flex-grow: 1;
    overflow: auto;
    scrollbar-width: none;
}
.content::-webkit-scrollbar {
    display: none;
}
.photos{
    width: 100%;
}
.spacer{
    width: 100%;
}
.whatsNew{
    width: 100%;
}
.post{
    width: 100%;
}
.navBar{
    width: 100%; 
}