.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.root a{
    text-decoration: none;
}
.app{
    position: relative;
    max-width:50vh;
    width: 100%;
    background-color:silver;
    height: 100%;
}
.appBg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Desktop/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(20px);
    overflow: hidden;
}
.appContainer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
}
@media (max-width:900px){
    .app{
        max-width:100%;
        width: 100%;
    }
}
.root [data-highlight]{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    fill:#55D6E6;
    background-color: #55D6E6;
    cursor: pointer;
}