.avatar {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}
.image {
    height: 100%;
    border-radius: 50%;
    border: 1px solid #F6F6F6;
}
.title {
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.message {
    color: #8E8E93;
    font-weight: 400;
    font-size: 14px;

    overflow: hidden;
}