.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}
.attached {
    flex-grow: 0;
    background-color: #F8F8F8;
}

.body {
    flex-grow: 1;
    overflow: auto;
    -ms-overflow-style: none;
}
.body::-webkit-scrollbar { width: 0; }
