.avatar{
    background-color:silver;
    height:100%;
     width:100%;
    border-radius:50%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.name{
    /* background:red; */
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: #0F0F0F;
}
.status{
    color: #ADADAD;
}