.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('./images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.statusBar {
    width: 100%;
}
.apps {
    width: 100%;
}
.appsContainer {
    flex-grow: 1;
}
.bottomBar {
    width: 100%;
}
.efficiency{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(20px) ;
    -webkit-backdrop-filter: blur(20px) ;
}
