.avatar{
    background-color:silver;
    height:100%;
     width:100%;
    border-radius:50%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}